body {
	margin: 0;
	padding: 0;

}

#cabecera {
margin: 0 auto;
width: 100% !important;	
	font-family: sans-serif;
	background: green !important; 
	background-repeat : no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
}
.ui-button-text-only .ui-corner-all .ui-state-default .ui-widget .ui-button 
 {
    -moz-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	background-color:#9dce2c;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #83c41a;
	display:inline-block;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:15px;
	font-weight:bold;
	padding:10px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #689324;
}

.contenedor {
	margin: 0;
	padding: 3px;
	position: absolute;
	margin-left: 20%;
	margin-top: 5px;
	margin-right: auto;
	margin-bottom: 5px;
	width: 79%;
	background: #fff;
	box-sizing: border-box;
	border: 1px solid rgba(0, 0, 0, .1);
	box-shadow: 0 5px 10px rgba(0, 0, 0, .2)
}
#formularios{

}

.text-input {
	padding: 10px;
	margin-bottom: 30px;
}

.text-input {
	width: 100%;
	box-sizing: border-box;
	box-shadow: none;
	outline: none;
	border: none;
	border-bottom: 2px solid #999;
}

.divc {
	position: relative;
}

.text-label {
	position: absolute;
	top: 10px;
	left: 0;
	color: #999;
	transition: .5s;
	pointer-events: none;
}

p:inputText:focus ~ p:outputLabel, p:inputText:valid ~ p:outputLabel {
	top: -12px;
	left: 0;
	color: #f7497d;
	font-size: 12px;
	font-weight: bold;
}